@media (min-width: 1180px){
    .wrapper{
        width: 100%;
        .container{
            width: 1140px;
            margin: 0 auto;
        }
    }
}
@media (max-width: 1180px){
    .container{
        padding: 0 5%;
    }
}
@media (max-width: 750px){
    .main-container{
        justify-content: center;
        img{
            width: 80%;
            height: 80%;
        }
        .main-form{
            width: 100%;
        }
    }
}